:root {
  --fcc-flip-duration: 0.7s;
  --fcc-digit-block-width: 46px;
  --fcc-digit-block-height: 80px;
  --fcc-digit-block-radius: 4px;
  --fcc-digit-font-size: 50px;
  --fcc-label-font-size: 16px;
  --fcc-label-color: inherit;
  --fcc-background: #0f181a;
  --fcc-digit-color: #ffffff;
  --fcc-divider-color: #ffffff66;
  --fcc-divider-height: 1px;
  --fcc-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  --fcc-separator-size: 5px;
  --fcc-separator-color: currentColor;
}

.fcc__container {
  font-family: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
  display: flex;
  align-items: center;
}

.fcc__label_show .fcc__digit_block_container {
  margin-bottom: calc(2 * var(--fcc-label-font-size));
}

.fcc__digit_block_container .fcc__digit_block:not(:last-child) {
  margin-right: 4px;
}

.fcc__digit_block_container {
  position: relative;
  display: flex;
  align-items: center;
}

.fcc__digit_block_label {
  color: var(--fcc-label-color);
  line-height: 1;
  font-weight: 400;
  font-size: var(--fcc-label-font-size);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 150%);
}

.fcc__digit_block {
  perspective: 200px;
  position: relative;
  font-size: var(--fcc-digit-font-size);
  color: var(--fcc-digit-color);
  font-weight: 500;
  line-height: 0;
  width: var(--fcc-digit-block-width);
  height: var(--fcc-digit-block-height);
  box-shadow: var(--fcc-shadow);
  border-radius: var(--fcc-digit-block-radius);
}

.fcc__current_below,
.fcc__next_above {
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background: var(--fcc-background);
}

.fcc__next_above {
  align-items: flex-end;
  top: 0;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom: var(--fcc-divider-height) solid var(--fcc-divider-color);
}

.fcc__current_below {
  align-items: flex-start;
  bottom: 0;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.fcc__card {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 50%;
  transform-style: preserve-3d;
  transform-origin: bottom;
  transform: rotateX(0);
  border-radius: inherit;
}

.fcc__card.fcc__flipped {
  transition: transform var(--fcc-flip-duration) ease-in-out;
  transform: rotateX(-180deg);
}

.fcc__card_face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  backface-visibility: hidden;
  background: var(--fcc-background);
}

.fcc__card_face_front {
  align-items: flex-end;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom: var(--fcc-divider-height) solid var(--fcc-divider-color);
}

.fcc__card_face_back {
  align-items: flex-start;
  transform: rotateX(-180deg);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.fcc__colon {
  margin-left: 8px;
  margin-right: 8px;
  height: var(--fcc-digit-block-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fcc__label_show .fcc__colon {
  margin-bottom: calc(2 * var(--fcc-label-font-size));
}

.fcc__colon::before,
.fcc__colon::after {
  content: "";
  width: var(--fcc-separator-size);
  height: var(--fcc-separator-size);
  border-radius: 50%;
  background-color: var(--fcc-separator-color);
}

.fcc__colon::before {
  margin-bottom: var(--fcc-separator-size);
}
